body {background-size: cover;
    background-image: url("preview.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.background-title {
    background-color: black;
    margin-top: -22px;
    margin-right: -8px;
    margin-left: -8px;
    opacity: 0.5;
}
.title {
    color: white;
    text-align: center;
    font-family: Arial;
    margin-left: 18px;
    padding: 20px;
}
.height-container {
    margin: 10cm;
}
.download-btn-img {
    text-align: center;
}
.download-btn-img > a > button {
    background-color: blue;
    padding-right: 10px;
    color: white;
    border: none;
    font-size: large;
    font-weight: bold;
}
.download-btn-img > a > button:hover {
    background-color: rgb(0, 0, 165);
}
.download-btn-img img {
    margin-top: 3px;
    margin-right: 10px;
    width: 30px;
}
.hide-btn button, .show-btn button {
    color: white;
    padding: 12px;
    background-color: lime;
    border: none;
    width: 140px;
}
.hide-btn button:hover, .show-btn button:hover {
    color: rgb(192, 192, 192);
    background-color: rgb(0, 182, 0);
}
.back-btn {
    float: right;
}
.back-btn button {
    margin: 18px;
    border: none;
    background: none;
    border-radius: 50px;
}
.back-btn img {
    width: 40px;
}
#show {
    display: none;
}